<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>571220352941-n2tpnd7c27eo22eg9sairv85vr6vu403.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571220352941-n2tpnd7c27eo22eg9sairv85vr6vu403</string>
	<key>API_KEY</key>
	<string>AIzaSyAfen80AMgW78I9ElIhLEJDEa8EA9YUF7I</string>
	<key>GCM_SENDER_ID</key>
	<string>571220352941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.at.Lapor-Jalan</string>
	<key>PROJECT_ID</key>
	<string>lapor-jalan</string>
	<key>STORAGE_BUCKET</key>
	<string>lapor-jalan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571220352941:ios:e6c1b6689f3a3bf6</string>
	<key>DATABASE_URL</key>
	<string>https://lapor-jalan.firebaseio.com</string>
</dict>
</plist>